<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete Item</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        Are you sure you want to delete '#{{card.cardId}}' ?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="delete()">Delete</button>
        <button class="btn btn-outline-dark" (click)="close()">Cancel</button>
    </div>
</ng-template>

<a class="nav-link fa fa-trash color-black" id="contact-tab" data-toggle="tab" role="tab" aria-controls="contact" aria-selected="false" (click)="open(content)"></a>